:root {
    --fundo: #faead2;
    --texto: #1e2328;
    --botao: #25262a;
    --texto-botao: #e3e4f0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    background-color: var(--fundo);
    height: 2000px;
}

header {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 20vh;
    place-items: start center;
    margin-bottom: 5vh;
}

header h1 {
    grid-column: 2;
    text-align: center;
    margin-top: 3vh;
}

h1, h2, h3 {
    color: var(--texto);
}

main {
    display: grid;
    grid-template-columns: auto 80% auto;
    grid-template-rows: 700px 1000px;
    row-gap: 5vh;
}

section#servicos-section {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.servicos-article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    border: 1px solid rgba(0, 0, 0, 0.505);
    align-items: center;
    margin: 2.5vh 0;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
    transition: 0.5s;
    background-color: white;
}

.servicos-article:focus {
    transform: translateY(-10px) scale(1.08);
    box-shadow: 0 20px 40px rgba(0,0,0,0.18);
}

.descricao {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    margin: 0 3%;
}

.servicos-article h3 {
    margin: 15px 0;
    font-weight: 100;
}

.botao-servicos {
    background-color: var(--botao);
    padding: 10px;
    font-size: 1em;
    color: var(--texto-botao);
    border-radius: 4px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.193);
    transition: 0.5s;
}

.botao-servicos:active {
    transform: scale(0.94);
}

.servico-imagens {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 10vh 40vh 30vh;
    row-gap: 3vh;
    padding: 20px 0;
}

footer > h2 {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    place-self: center;
    text-align: center;
    font-size: 2em;
    
}

footer > .rodape {
    grid-row: 2;
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    gap: 0px;
}

footer > .rodape > .imagem-rodape {
    background: center center no-repeat;
    background-size: cover;
}

#imagem-rodape-1 {
    background-image: url(https://cdn.pixabay.com/photo/2023/04/20/12/22/globe-7939725_1280.jpg);
}

#imagem-rodape-2 {
    background-image: url(https://cdn.pixabay.com/photo/2022/01/10/18/06/girls-6928968_1280.jpg);
}

#imagem-rodape-3 {
    background-image: url(https://cdn.pixabay.com/photo/2023/02/24/21/11/pancake-7811889_1280.jpg);
    background-position: bottom;
}

#imagem-rodape-4 {
    background-image: url(https://cdn.pixabay.com/photo/2020/03/18/05/15/horse-4942698_1280.jpg);
}

footer > nav {
    display: grid;
    grid-column: span 3;
    grid-row: 3;
    grid-template-rows: 60% 40%;
    
}

nav > h3 {
    text-align: center;
    grid-row: 1;
    font-size: 2em;
}

footer > nav > ul {
    display: flex;
    list-style: none;
    gap: 20px;
    grid-row: 2;
    justify-content: center;
    align-items: center;
}

i {
    font-size: 1.8em;
    color: var(--texto);
    transition: 0.25s;
}

i:active, i:hover {
    transform: scale(1.08) translateZ(-10px);
}


@media screen and (max-width: 768px) {

    .imagem {
        grid-column: span 3;
        grid-row: 1;
        width: 100%;
        height: 100%;
        background: var(--texto) url(https://cdn.pixabay.com/photo/2021/12/13/07/06/airplane-6867678_1280.jpg) no-repeat fixed;
        background-size: cover;
        background-position: center top;
        
    }
    
}