:root {
    --fundo: #e1f0f8;
    --texto: #1e2328;
    --botao: #25262a;
    --texto-botao: #e3e4f0;
    --fundo-menu-pressionado: white;
    --texto-tag-pressionada: black;
    --fundo-tag-pressionada: rgba(132, 214, 247, 0.229);
    --fundo-tag-aberta: rgba(211, 211, 211, 0.300);
    --texto-produtos: rgb(108, 107, 107);
    --lua-modo-escuro: rgba(0, 0, 139, 0.322);
    --sol-modo-claro: black;
}

body.escuro {
    --fundo: #e1f0f8;
    --texto: #f6f8fb;
    --botao: #f5f6f8;
    --texto-botao: #0c0c0c;
    --fundo-menu-pressionado: #0c0c0c;
    --texto-tag-pressionada: white;
    --fundo-tag-pressionada: rgba(132, 214, 247, 0.645);
    --fundo-tag-aberta: rgba(211, 211, 211, 0.300);
    --texto-produtos: rgb(108, 107, 107);
    --lua-modo-escuro: rgb(26, 26, 255);
    --sol-modo-claro: gray;
}


body, html {
    height: 100vh;
}

@font-face {
    font-family: 'Magical';
    src: url(../fonts/magical_night_2/Magical\ Night.otf);
}

@font-face {
    font-family: 'Dino';
    src: url(../fonts/DinoFOnt/DinoFont.ttf);
}

@font-face {
    font-family: 'Majesty';
    src: url(../fonts/FB-Free-Majesty-Goldera/Majesty\ Goldera.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

div#menu-pressionado {
    display: none;
    min-height: 100vh;
    height: auto;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 75px 16vh 1fr;
    background-color: var(--fundo-menu-pressionado);
    row-gap: 10px;
}

div#menu-pressionado.aberto {
    display: grid;
}

#menu-pressionado > #botao-fechar {
    grid-column: 3;
    place-self: center;
}

div.cadastro {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    grid-column: span 3;
    grid-row: 2;
}

div.cadastro > button {
    width: 90%;
    border-radius: 6px;
    padding: 1vw;
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 4.5vw;
    transition: 0.3s;
}

div.cadastro > button:active {
    transform: scale(0.94);
}

button#cadastrar {
    background-color: var(--botao);
    color: var(--texto-botao);
}

button#login {
    background-color: var(--fundo-menu-pressionado);
    color: var(--texto);
    border: 2px solid var(--texto-produtos);
}

section#topicos {
    grid-column: span 3;
    grid-row: 3;
}

section#topicos h3 {
    width: 90%;
    font-size: 1.2em;
    padding: 10px 0 10px 10px;
    margin: 10px auto;
    border-radius: 6px;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--texto);
}

section#topicos h3:active {
    background-color: var(--fundo-tag-pressionada);
    border-radius: 0;
    color: var(--texto-tag-pressionada);
}

div#produtos-container {
    position: relative;
}

div#produtos-container > p {
    position: absolute;
    top: 50%;
    right: 7.5%;
    transform: translate(-50%, -50%);
    font-size: 1.8em;
    color: var(--texto);
}

div#produtos-container > p.aberto {
    transform: translate(-50%, -50%) rotate(90deg);
}

h3#produtos-tag.aberto {
    background-color: var(--fundo-tag-aberta);
}

article#produtos-a-mostrar {
    display: none;
}

article#produtos-a-mostrar.aberto {
    display: block;
    margin: 20px 0;
}

article#produtos-a-mostrar h3 {
    color: var(--texto-produtos);
    font-size: 1em;
    padding-left: 9vw;
}

article#produtos-a-mostrar .produtos-unicos:active i {
    color: var(--texto-tag-pressionada);
}

article#produtos-a-mostrar > .produtos-unicos {
    position: relative;
}

article#produtos-a-mostrar > .produtos-unicos > i {
    position: absolute;
    color: var(--texto-produtos);
    font-size: 1em;
    top: 50%;
    left: 9vw;
    transform: translate(-50%, -50%);
}

hr {
    border-color: rgba(211, 211, 211, 0.608);
    margin: 0 4%;
}

article#tema-container {
    position: relative;
}

div#temas {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-30%, -50%);
}

div#temas i#modo-escuro {
    color: var(--lua-modo-escuro);
}

div#temas i#modo-claro {
    color: var(--sol-modo-claro)
}

header, main, footer {
    display: grid;
}

header.fechado, main.fechado, footer.fechado {
    display: none;
}

i {
    font-size: 2em;
    color: var(--botao);
    transition: 0.5s;
}

header {
    background-color: var(--fundo-menu-pressionado);
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 75px 1fr;
    padding-bottom: 20px;
    place-items: center;
}

header#aviao-icone {
    grid-row: 1;
    grid-column: 1;
}

header#menu-icone {
    grid-row: 1;
    grid-column: 3;
}

header > h2 {
    text-align: center;
    grid-row: 1;
    grid-column: 2;
    letter-spacing: 1px;
    font-size: 2.6em;
    transition: 0.4s;
    font-weight: 900;
    font-family: 'Majesty';
}

header > h2:active, header > h2:hover {
    letter-spacing: 4px;
}

header > h1 {
    grid-column: span 3;
    grid-row: 2;
    text-align: center;
    padding: 0 30px;
}

h1, h2, h3 {
    color: var(--texto);
}

main {
    background-color: var(--fundo);
    grid-template-columns: auto 80% auto;
    grid-template-rows: 500px 1000px;
    row-gap: 5vh;
}

section#servicos-section {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.servicos-article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    border: 1px solid rgba(0, 0, 0, 0.505);
    align-items: center;
    margin: 2.5vh 0;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
    transition: 0.5s;
    background-color: var(--fundo-menu-pressionado);
}

.servicos-article:focus {
    transform: translateY(-10px) scale(1.08);
    box-shadow: 0 20px 40px rgba(0,0,0,0.18);
}

.descricao {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    margin: 0 3%;
}

.servicos-article h3 {
    margin: 15px 0;
    font-weight: 100;
}

.botao-servicos {
    background-color: var(--botao);
    padding: 10px;
    font-size: 1em;
    color: var(--texto-botao);
    border-radius: 4px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.193);
    transition: 0.5s;
}

.botao-servicos:active {
    transform: scale(0.94);
}

.servico-imagens {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 10vh 40vh 1fr;
    row-gap: 3vh;
    padding: 20px 0;
    background-color: var(--fundo-menu-pressionado);
}

footer > h2 {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    place-self: center;
    text-align: center;
    font-size: 2em;
    
}

footer > .rodape {
    grid-row: 2;
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    gap: 4px;
}

footer > .rodape > .imagem-rodape {
    background: center center no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.300);
}

#imagem-rodape-1 {
    background-image: url(https://cdn.pixabay.com/photo/2023/04/20/12/22/globe-7939725_1280.jpg);
}

#imagem-rodape-2 {
    background-image: url(https://cdn.pixabay.com/photo/2022/01/10/18/06/girls-6928968_1280.jpg);
}

#imagem-rodape-3 {
    background-image: url(https://cdn.pixabay.com/photo/2023/02/24/21/11/pancake-7811889_1280.jpg);
    background-position: bottom;
}

#imagem-rodape-4 {
    background-image: url(https://cdn.pixabay.com/photo/2020/03/18/05/15/horse-4942698_1280.jpg);
}

footer > nav {
    display: grid;
    grid-column: span 3;
    grid-row: 3;
    grid-template-rows: 5fr 4fr;
    row-gap: 10px;
    
}

nav > h3 {
    text-align: center;
    grid-row: 1;
    font-size: 1.8em;
    margin: 0 10px;
}

footer > nav > ul {
    display: flex;
    list-style: none;
    gap: 20px;
    grid-row: 2;
    justify-content: center;
    align-items: center;
}

footer i {
    color: var(--texto);
    transition: 0.25s;
}

i:active, i:hover {
    transform: scale(1.08) translateZ(-10px);
}

#Viajour {
    font-size: 1.2em;
    font-family: 'Majesty';
    font-weight: 900;
}


@media screen and (max-width: 768px) {

    .imagem {
        grid-column: span 3;
        grid-row: 1;
        width: 100%;
        height: 100%;
        background: var(--texto) url(https://cdn.pixabay.com/photo/2021/12/13/07/06/airplane-6867678_1280.jpg) no-repeat fixed;
        background-size: cover;
        background-position: center center;
        
    }
    
}